/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b2dfac;
}

/* Main Container */
.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: azure;
    box-shadow: 10px 10px 10px 5px rgba(89, 107, 86, 0.952);
    border-radius: 8px;

}

/* Heading Style */
h1 {
    text-align: center;
    color: #333;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

/* Label Styles */
label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

/* Input and Select Box Styles */
input, select {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  
}

/* Button Styles */
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #2df126;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button Hover Effect */
button:hover {
    background-color: #0f8500;
}

.update-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height:auto;
    background-color: #2df126;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Removes underline */
    display: inline-block; /* Ensures it behaves like a button */
}
.update-btn:hover {
    background-color: #0f8500;
}

/* Responsive Design for Small Screens */
@media screen and (max-width: 600px) {
    .container {
        padding: 15px;
    }

    button {
        font-size: 14px;
        padding: 10px 16px;
    }
}
