/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Container Styling */
body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #b2dfac;
}

.form-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px rgba(89, 107, 86, 0.952);
    padding: 30px;
}

/* Form Content */
.form-container h4 {
    text-align: center;
    margin-bottom: 20px;
}


.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #31df2b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #24b112;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 576px) {
    .form-card {
        padding: 20px;
    }
    .submit-btn {
        padding: 10px;
    }
}
